DB_HOST=localhost
DB_PORT=5432
DB_NAME=task_manager
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=senha_desafio_mini_task_mananger
JWT_EXPIRATION_SECONDS=3600
CORS_ALLOWED_ORIGIN=http://localhost:5173
